*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: 'Playfair Display', 'Raleway', serif;

}

body{
	display: flex;
	flex-direction: column;
	font-family: 'Playfair Display';
	height: 100%;
	margin: 0 auto;
}

header{
	width: 100%;
	height: 650px;
	display: flex;
	justify-content: center;
	margin-bottom: 200px;
}

.bg{
	position: relative;
	display: flex;
	width: 1366px;
	background: url(../img/header.png);
	background-repeat: no-repeat;
	background-position: center;
}

.bg nav{
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	position: absolute;
	display: flex;
	flex-direction: row;
	left: 370px;
	top: 28px;
}

.bg nav ul{
	display: flex;
	list-style-type: none
}

.bg nav ul a{
	margin-right: 30px;
	text-decoration: none;
	color: #000000;
	transition: color 0.3s linear;
}

.bg nav ul a:hover{
	color: red;
}

.right-nav{
	display: flex;
	flex-direction: row;
	position: absolute;
	right: 215px;
	top: 28px;
}

.right-nav .like, .shop{
	display: flex;
	margin: 0;
	padding: 0;
}

.right-nav .like a, .shop a{
	display: flex;
	margin-right: 3px;
	padding: 0;
}

.right-nav .like{
	display: flex;
	margin: 0;
	padding: 0;
}

.search{
	display: flex;
	background: #E1DEDE;
	border-radius: 27px;
}

.search form{
	width: 98px;
	height: 100%;
}

.search input{
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	background: inherit;
	width: 70px;
	height: 100%;
	border: none;
	outline: none;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 11px;
}

.search a{
	margin-top: 1px;
	margin-right: 7px;
}

.input-s{
	display: flex;
}

.right-s{
	display: flex;
	justify-content: right
}

.about{
	position: absolute;
	right: 215px;
	bottom: 19px;
}

.about ul{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about a{
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.about a:nth-child(4){
	margin-bottom: 21px;
}

.h-text{
	position: absolute;
	width: 322px;
	height: 60px;
	left: 224px;
	top: 194px;
}

.h-text h1{
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 53px;
	color: #000000;
	margin-bottom: 35px;
}

.h-text p{
	font-family: Raleway;
	font-style: italic;
	font-weight: normal;
	font-size: 17px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 45px;
}

.h-button{
	position: absolute;
	width: 200px;
	height: 40px;
	left: 225px;
	top: 416px;
}

.h-button a{
	border: none;
	text-transform: uppercase;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	background: #C37DB0;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 6px;
	padding-left: 6px;
	text-decoration: none;
}

/*2 экран*/

.screen-2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.screen-2 .container-s{
	display: flex;
	flex-direction: row;
	width: 1366px;
	margin-top: 34px;
	margin-bottom: 42px;
}

.container-s .video{
	display: flex;
	margin-right: 134px;
	margin-left: 115px;
}

.container-s .video-desc{
	display: flex;
	flex-direction: column;
}

.container-s .video-desc h2{
	width: 419px;
	height: 34px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #000000;
}

.container-s .video-desc p{
	width: 450px;
	height: 220px;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
